<h2>ChartIQ Angular Application</h2>

<p class="description">The chartiq-angular-app project is a toolkit of Angular components.
	The following components create complete charting applications: (Select the component names to
	see the applications.)</p>

<ul class="top-level">
	<li>
		<h3><a routerLink="/technical-analysis">Advanced Chart</a></h3>
		<p>
			Creates a chart with a full-featured user interface. Advanced Chart is
			the equivalent of ChartIQ's <i>technical-analysis-chart.html</i> advanced template.
		</p>
	</li>
	<li>
	<h3>Multi-chart</h3>
		<p>
			Coming soon.
		</p>
	</li>
	<li>
		<!--
			Enable the following line if Active Trader is available, and uncomment the Active Trader route in app.module.ts.
		-->
		<!-- <h3><a routerLink="/active-trader">Active Trader</a></h3> -->
		<!-- Remove the following lines if the Active Trader module is available. -->
		<h3 style="color: #999; margin-bottom: 0">Active Trader</h3>
		<p style="font-size: 0.75rem; margin-top: 0rem; margin-bottom: 0.75rem">(To enable this application, uncomment the Active Trader route in <i>app.module.ts</i> and enable the ActiveTraderComponent link in <i>route-list.component.html</i>.)</p>
		<p>
			Features the advanced chart component enhanced with the following plug-ins:
		</p>
			<ul>
				<li>Trade From Chart</li>
				<li>Order Book</li>
				<li>Trade Book</li>
				<li>Market Depth Chart</li>
			</ul>
	</li>
	<li>
		<!--
			Enable the following line if Term Structure is available, and uncomment the Term Structure route in app.module.ts.
		-->
		<!-- <h3><a routerLink="/term-structure">Term Structure</a></h3> -->
		<!-- Remove the following lines if the Term Structure module is available. -->
		<h3 style="color: #999; margin-bottom: 0">Term Structure</h3>
		<p style="font-size: 0.75rem; margin-top: 0rem; margin-bottom: 0.75rem">(To enable this application, uncomment the Term Structure route in <i>app.module.ts</i> and enable the TermStructureComponent link in <i>route-list.component.html</i>.)</p>
		<p>
			Creates a term structure chart for working with non&ndash;time series data.
		</p>
	</li>
	<li>
		<h3><a routerLink="/custom-chart">CustomChartComponent</a></h3>
		<p>
			Integrates native Angular components with ChartIQ web components.
		</p>
	</li>
	<li>
		<h3><a routerLink="/hello-world">HelloWorldComponent</a></h3>
		<p>
			Creates a basic chart with no user interface as a starting point for using the ChartIQ
			API in Angular.
	</li>
</ul>
<br/>
