<h2>ChartIQ Angular Application</h2>

<p class="description">The chartiq-angular-app project is a toolkit of Angular components.
	The following components create complete charting applications: (Select the component names to
	see the applications.)</p>

<ul class="top-level">
	<li>
		<h3><a routerLink="/technical-analysis">Advanced Chart</a></h3>
		<p>
			Creates a chart with a full-featured user interface. Advanced Chart is
			the equivalent of ChartIQ's <i>technical-analysis-chart.html</i> advanced template.
		</p>
	</li>
</ul>
<br/>
